.create-new-project-container {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 10px;
}

.projects-list-title {
    margin-bottom: 20px;
}

.actions-list .project-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px
}

.actions-list .project-button:hover .project-delete-icon {
    opacity: 1;
}


.projects-actions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.project-container {
    display: flex;
    gap: 10px;
}

.project-information {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.actions-list  .project-delete-icon {
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-list  .project-delete-icon:hover {
    transform: scale(1.2);
}

.new-project-form {
    display: flex;
    width: 100%;
    align-items: center;
}
.create-project-button {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    text-align: left    ;
}