.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: calc(100vh - 72px - 80px - 46px);
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.task:hover {
    background-color: var(--secondary);
}

.task-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.extra-data > p {
    font-weight: bold;
    font-size: 12px;
    background-color: #0000001f;
    padding: 5px 5px;
    border-radius: 5px;
}

.task-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.delete-icon:hover {
    transform: scale(1.2);
}
.task:hover .delete-icon {
    visibility: visible;
    opacity: 1;
}

.new-task {
    justify-content: flex-start;
    margin-top: 20px;
    background-color: var(--secondary);
}

/**
 *  ------------------------
 *  Task Form
 *  ------------------------
*/
.new-task-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;
}

.form-inputs input {
    font-size: 16px;
}

.new-task-notes {
    height: -webkit-fill-available;
}

.new-task-title, .new-task-notes {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.form-actions {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    gap: 20px;
}

.new-task-submit, .close-new-task-form {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.new-task-submit > span {
    background-color: var(--primary);
    border-radius: 15px;
}

.new-task-submit:hover > .material-symbols-outlined,
.close-new-task-form:hover  {
    animation: rotate .3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(190deg);
    }
}


/**
 *  ------------------------
 *  Task Details
 *  ------------------------
*/

.optional-data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.optional-data input {
    background-color: transparent;
    border: none;
    outline: none;
}
.due-date-container, .tags-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    padding: 5px 10px;
}

.due-date-container:hover, .tags-container:hover {
    background-color: #0000001f;
}

.optional-data span {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


/* Date Input Style */
.new-task-due-date, .new-task-tags {
    visibility: hidden;
    display: none;
    position: relative;
}

.new-task-due-date::-webkit-calendar-picker-indicator{
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.active-form {
    background-color: #0000001f;
}
.active-form input {
    visibility: visible;
    display: flex;
}

/**
 *  ------------------------
 *  Edit Task
 *  ------------------------
*/

.edit-task {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.task:has(.edit-task)  {
    background-color: var(--secondary);
}

.task:has(.edit-task) .new-task-submit span  {
    animation: none;
}