.footer {
    background-color: #8e897e;
    padding: 40px 0;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', serif;
    color: white;
    text-decoration: none;
    gap: 10px;
    font-size: 20px;
}

.footer__link svg {
    width: 25px;
    fill: white;
}