@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Moirai+One&display=swap');
:root {
    --text: #040901;
    --background: #F5F6FB;
    --background-box: #FFFFFF;
    --primary-button: #54ce12;
    --secondary-button: #f2fdec;
    --accent: #5de614;
    --not-read: #FF6D60;
    --read: #98D8AA;
    --border-radius: 15px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandiflora One', serif;
    color: var(--text);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--background);
    padding: 25px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--background-box);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
h1 {
    font-family: 'Moirai One', cursive;
    font-size: 50px;
}

/* MAIN */
.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

.book {
    background-color: var(--background-box);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.content {
    padding: 0 25px 25px 25px;
}

.read {
    border-left: 8px solid var(--read);
}
.read .content button {
    background-color: var(--read);
    cursor: pointer;
}
.read .content button:hover {
    background-color: #86be96;
}

.not-read {
    border-left: 8px solid var(--not-read);
}
.not-read .content button {
    background-color: var(--not-read);
    cursor: pointer;
}
.not-read .content button:hover {
    background-color: #e36155;
}

.read-button {
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: var(--border-radius);
    margin-top: 20px;
    font-size: 17px;
    transition: background-color 0.3s ease-in-out;
    
}

.create-book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-book-btn {
    padding: 10px;
    height: 68px;
    border-radius: 100%;
    border: none;
    background-color: var(--background-box);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease-in-out;
}
.create-book-btn:hover {
    cursor: pointer;
    background-color: #98D8AA;
}


/* FOOTER */
.footer {
    padding: 25px;
    background-color: var(--background-box);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.footer-text {
    text-align: center;
    font-size: 19px;
}

.bold {
    font-weight: bold;
    font-size: 19px;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}
.active {
    visibility: visible;
    opacity: 1;
}

.popup-container {
    background-color: var(--background-box);

    border-radius: var(--border-radius);
}
.popup-container h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.close-container, .delete-btn-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.close-btn, .delete-btn {
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 5px;
    background-color: rgb(255, 100, 100);
    font-size: 25px;
    color: var(--text);
    transition: background-color 0.3s ease-in-out;
}
.delete-btn:hover {
    background-color: #e36155;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    padding: 0 50px 50px 50px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}

.create-btn {
    width: 100%;
    border: none;
    background-color: var(--read);
    margin-top: 25px;
    padding: 10px 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.create-btn:hover {
    background-color: #86be96;
}