@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');:root {
    --text: #030203;
    --background: #ece4e8;
    --primary-button: #73875e;
    --secondary-button: #e4d8de;
    --accent: #34404b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    background: #ece4e8;
    color: var(--text);
}

/* SIDEBAR */
.sidebar {
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
}

/* SIDEBAR > LOGO*/
.logo {
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 150px;
}

/* SIDEBAR > NAV CONTAINER*/
.main-nav-sidebar {
    display: grid;
    grid-template-rows: min-content;
    gap: 5%;
    padding-left: 10px;
}
/*LINKS ICON*/
.icon {
    width: 25px;
    height: min-content;
    transition: color 0.3s ease;

}
.nav-link:hover .icon {
    fill: var(--primary-button);
}
/*LINKS TEXT*/
.nav-link {
    display: flex;
    gap: 5px;
    align-items: center;
    width: min-content;
    padding: 5px 10px;
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: var(--primary-button);
}


/* MAIN */
.main {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

/* MAIN > HEADER */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
/* MAIN > HEADER > SEARCH BOX */
.search-box {
   display: grid;
   grid-template-columns: auto 1fr;
   justify-content: center;
   align-items: center;
   padding: 25px;
   gap: 10px;
}
.search-icon {
    cursor: pointer;
    transition: fill 0.3s ease;
}
.search-icon:hover {
    fill: var(--primary-button);
}
#search-input {
    background-color: var(--secondary-button);
    border: none;
    padding: 12px;
    border-radius: 100px;
}
#search-input:focus {
    outline: 2px solid var(--primary-button);
}
/* MAIN > HEADER > ACCOUNT INFO */
.account-info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    justify-content: end;
    margin-right: 50px;
    align-items: center;
}
.notification-icon, .account-img-small, .account-name {
    margin: 0 auto;
}
.notification-icon {
    cursor: pointer;
    transition: fill 0.3s ease;
}
.notification-icon:hover {
    fill: var(--primary-button)
}
.account-img-small {
    width: 40px;
}
.account-img {
    border-radius: 100px;
}

/* MAIN > HEADER > ACCOUNT PRESENTATION */
.account-presentation {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
}
.account-img-medium {
    width: 70px;
}
.account-presentation h3 {
    margin-top: 5px;
    font-weight: bold;
}

/* MAIN > HEADER > ACTIONS BUTTONS */
.actions-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
}
.action-button {
    padding: 10px 25px;
    border-radius: 100px;
    border: none;
    background-color: var(--secondary-button);
    transition: all 0.3s ease;
}
.action-button:hover {
    background-color: var(--primary-button);
    color: white;
}
.action-button:active {
    transform: scale(1.05);
}


/* MAIN > CONTENT SECTION */
.content-section {
    background: yellow;
    display: grid;
    grid-template-columns: 6fr 2fr;
}

/* CONTENT SECTION > PROJECTS CONTAINER */
.projects-container {
    background: orange;
}

/* CONTENT SECTION > CONTENT SIDEBAR */
.content-sidebar {
    background: blue;
}